<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login to Rooster </title>
    <link href="/static/css/login.css" th:href="@{/static/css/login.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="cont">
    <div class="demo">
        <div class="wronglogin_msg" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="logout_msg" th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="login">
            <div class="rooster_logo"><img src="/static/images/rooster-logo.svg" th:src="@{/static/images/rooster-logo.svg}" /></div>
            <form th:action="@{/login}" method="post">
            <div class="login__form">
                <div class="login__row">
                    <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input type="text" name="username" class="login__input name" placeholder="Username"/>
                </div>
                <div class="login__row">
                    <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input type="password" name="password" class="login__input pass" placeholder="Password"/>
                </div>
                <button type="submit" class="login__submit">Sign in</button>
                <p class="login__signup">Don't have an account? &nbsp;<a>Sign up</a></p>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src="/static/js/login.js" th:src="@{/static/js/login.js}"></script>
</html>
